/*  ===============================================================
    homepage
    ===============================================================  */

    #welcome-body {
        background-image: url(../../assets/images/homepage-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #welcome-message {
        color: #233237;
    }

    #my-name {
        color: #984b43;
    }

    #entry-point {
        background-color: #eac67a;
        border: solid 1px #18121e;
        border-radius: 5px;
        font-size: 1.2em;
    }

/*  ===============================================================
    style the navbar with page title and links 
    ===============================================================  */

    #header-name {
        color: #eac67a;
    }

    #my-links-icons {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .navbar {
        background: #ffffff;
    }
    

/*  ===============================================================
    body styles
    ===============================================================  */

    body {
        padding-top: 70px;
    }
    
    .main {
        /* width: 100%;
        height: 100%; */
        overflow: auto;
        background-color: #eac67a;
    }

    .focus-area {
        width: 760px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        background-color: #eac67a;
    }

    #page-title {
        color: #984b43;

    }

/*  ===============================================================
    style the about me page 
    ===============================================================  */

    #profile-pic {
        height: 220px;
        border: solid 2px #a9a9a9;
    }

    #about-me-titles {
        color: #ffffff;
        background-color: #984b43;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    #about-me-pics {
        width: 100%;
        object-fit: cover;
        border: solid 2px #a9a9a9;
    }

    #about-me-text {
        font-size: .95em;
    }

/*  ===============================================================
    style the portfolio page 
    ===============================================================  */

    .portfolio-item {
        margin: 30px;
        background-color: #ffffff;
        padding: 10px;
    }
    
    /* style the footer */

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #233237;
        color: #ffffff;
        text-align: center;
        font-size: .7em;
    }

/* ===============================================================
   MEDIA SCREENS 
   =============================================================== */
    
    /* set for screens 980px down to 768px wide */
    @media screen and (max-width: 980px) {
    /* this is already set above */
    }

    /* set for screens 768px down to 640px wide */
    @media screen and (max-width: 800px) {

        .focus-area {
            width: 600px;
        }

        #about-me-text {
            font-size: .8em;
        }
    }

    /* set for screens 640px wide or smaller */
    @media screen and (max-width: 640px) {

        #welcome-body {
            background-image: none;
            background-color: #a9a9a9;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .focus-area {
            width: 500px;
        }

    }