/*  ===============================================================
    homepage
    ===============================================================  */

    #welcome-message {
        color: #233237;
    }

    #my-name {
        color: #984b43;
    }

    #entry-point {
        background-color: #eac67a;
        border: solid 1px #18121e;
        border-radius: 5px;
        font-size: 1.2em;
    }

/*  ===============================================================
    style the navbar with page title and links 
    ===============================================================  */

    #header-name {
        color: #eac67a;
    }

    #my-links-icons {
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }

    .navbar {
        background: #ffffff;
    }
    

/*  ===============================================================
    body styles
    ===============================================================  */

    body {
        padding-top: 70px;
    }
    
    .main {
        /* width: 100%;
        height: 100%; */
        overflow: auto;
    }

    .focus-area {
        width: 760px;
        margin: 0px auto 0px auto;
    }

    #page-title {
        /* margin: 0px 30px 0px 30px;
        display: block;
        padding: 20px 0px 20px 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6em;
        font-weight: bold;
        color: #4aaaa5;
        border-bottom: solid lightgrey 2px; */
    }

/*  ===============================================================
    style the about me page 
    ===============================================================  */

    #home-section-1 {
        margin: auto;
    }

    #profile-pic {
        height: 220px;
        border: solid 1px #a9a9a9;
    }

    /* #my-links {
        margin: 5px;
    } */



    #para {
        display: block;
        clear: right;
        /* width: 90%; */
        /* padding: 30px; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        line-height: 1.5em;
    }

/*  ===============================================================
    style the portfolio page 
    ===============================================================  */

    #container {
        display: inline-block;
        position: relative;
        margin: 30px;    
    }
    
    .p-name {
        display: inline-block;
        position: absolute;
        margin: -70px -240px 0px 0px;
        width: 98.5%;
        padding: 15px 0px 15px 0px;
        text-align: center;
        background-color: #4aaaa5;
        font-size: 1.5em;
        color: white;
        z-index: 0;
        border: solid grey 2px;
    }

    .portfolio-pic {
        display: block;
        width: 250px;
        height: 200px;
        object-fit: cover;
        z-index: -1;
        border: solid grey 2px;
    }


    /* style the footer */

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background-color: #233237;
        color: #ffffff;
        text-align: center;
        font-size: .7em;
    }

/* ===============================================================
   MEDIA SCREENS 
   =============================================================== */
    
    /* set for screens 980px down to 768px wide */
    @media screen and (max-width: 980px) {
    /* this is already set above */
    }

    /* set for screens 768px down to 640px wide */
    @media screen and (max-width: 800px) {
        .focus-area {
            width: 600px;
        }
    }

    /* set for screens 640px wide or smaller */
    @media screen and (max-width: 640px) {

        .focus-area {
            width: 500px;
        }
        #profile-pic {
            display: block;
            width: 90%;
            margin: 30px 20px 20px 30px;
            border-top: double 25px #4aaaa5;
            border-bottom: double 25px #4aaaa5;
        }
        
        #para {
            display: block;
            width: 90%;
            padding: 30px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            line-height: 1.5em;
        }

        .p-name {
            display: inline-block;
            position: absolute;
            margin: -70px -240px 0px 0px;
            width: 100%;
            padding: 15px 0px 15px 0px;
            text-align: center;
            background-color: #4aaaa5;
            font-size: 1.5em;
            color: white;
            z-index: 0;
            border: solid grey 2px;
        }
        
        .portfolio-pic {
            display: block;
            width: 100%;
            height: 20%;
            object-fit: cover;
            z-index: -1;
            border: solid grey 2px;
        }

    }